* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  
  #root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f4fff8;
  }
  
  body {
    font-family: 'helvetica neue';
    margin: 0;
    min-height: 100vh;
  }

header {
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
  }
  
  header h1 {
    margin: 0;
    font-size: 60px;
    color: #000f08;
    padding: 20px;
    
  }
 
  header a {
    text-decoration: none;
    color: #0E5259;
  }
  
  header nav {
    padding-top: 30px;
  
  }
  
  header nav ul {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }

  header nav ul li a {
    padding: 10px 15px;
    font-weight: normal;
    font-size: 1.60vw;
    border-radius: 15px;
    color: #000f08;
  }
  
  header nav ul li a:hover {
    color: #8baaad;
    border-radius: 15px;
    text-shadow: none;
    transition: .5s ease;
  }

  .section-title {
    font-size: 60px;
    color: #1c3738;
    text-align: center;
    margin: 0 auto;
    width: 50%;
    margin-bottom: 20px;
  }

  .about p {
    color: #1c3738;
    width: 80%;
    font-size: 20px;
    margin: 0 auto;
  }

  .avatar {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    margin-bottom: 30px;
    color: #1c3738;
  }
  
  .about-info {
    flex: auto;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
  }

  .flex-row {
    display: flex;
  }

  footer {
    font-weight: bold;
    width: 100%;
    height: 100px;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5px;
  }

  main {
    padding-bottom: 50px;
  }
  .logo {
    cursor: pointer;
    list-style: none;
    font-size: 40px;
    color: #000f08;
    display: inline-block;
    margin: 5px;
  }
  
  .logo:hover {
    color: #8baaad;
    transition: .5s ease;
  }

  .contact {
    display: flex; /* Use flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
  }
  
  .contact-form {
    width: 30%; /* Set a fixed width for the form container */
    padding: 20px; /* Add padding for spacing */
   
  }

.contact h3 {
  margin-bottom: 30px;
  text-align: center;
  font-size: 40px;
  color: #1c3738;
}

.form label {
  display: block; /* Make labels display as block elements */
  margin-bottom: 5px;
}

.form input,
.form textarea {
  width: 100%; /* Make input and textarea elements fill the entire width of the container */
  margin-bottom: 20px; /* Add margin below inputs for spacing */
  font-size: 15px;
  height: 30px;
  background-color: #f4fff8;
  border: 1px solid #ccc; /* Add a 1px solid border with color #ccc */
  border-radius: 5px; /* Add border-radius for rounded corners */
}

.form button {
  display: block; /* Change button display to block */
  width: 100px; /* Set button width to 50% */
  margin: 0 auto; /* Center the button horizontally */
  padding: 10px; /* Add padding for spacing */
  background-color: #1c3738; /* Add a background color for the button */
  color: #f4fff8; /* Set text color to white */
  border: none; /* Remove border */
  border-radius: 5px; /* Add border-radius for rounded corners */
  cursor: pointer; /* Add cursor pointer on hover */
  font-size: 20px;
  margin-top: 25px;
}

.form button:hover {
  background-color: #8baaad; /* Change background color on hover */
  transition: .5s ease;
}

.portfolio-container {
  display: flex;
  justify-content: center;
}

.project-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 100%;
  padding: 15px;
}

.project-card {
  flex: 0 0 calc(33.33% - 20px);
  margin: 25px;
  max-width: 500px;
  text-align: center;
  background-color: #f4fff8;
  border-radius: 5px;
  border: #D9DFDB solid 1px;
}


.card-content {
  margin: 5px;
  height: 0;
}

.card-title {
  margin: 5px;
  font-size: 25px;
  font-weight: 300;
}

.card img {
  width: 500px;
  height: 300px;
  padding: 10px;
  border-radius: 15px;
}

.card-footer {
  margin-top: 20px;
  width: 50%;
  justify-content: space-around;
  margin: auto;
  padding-top: 15px;
  
}


.projectsHeader h2 {
  margin: 0 auto;
  font-size: 40px;
}

.button-link {
  width: 100px;
  padding: 10px;
  background-color: #1c3738;
  color: #f4fff8;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  text-decoration: none; /* Remove default underline for links */
}

.button-link:hover {
  background-color: #8baaad;
  transition: .5s ease;
}


/* Add CSS for smaller screens */
@media (max-width: 600px) {
  .form input,
  .form textarea {
    width: 100%; /* Make input and textarea elements fill the entire width on smaller screens */
    max-width: none; /* Remove the maximum width on smaller screens */
    margin-right: 0; /* Remove the right margin on smaller screens */
  }
}